# Ignore everything
/*

!.gitignore
!.gitpod.yml
!.gitpod.Dockerfile
!bc.json
!learn.json
!README.md
!.vscode

!/exercises
!/exercises/*

*.pyc
exercises/*/__pycache__/
.pytest_cache/

!/.learn
/.learn/**
!/.learn/resets
!/.learn/resets/**
!/.learn/assets
!/.learn/assets/**
